.footer {
    background-color: #11122b;
    color: #cbcbcb;
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px; 
}

.footer > .logo-footer img {
    width: 180px;
    height: 100%;
    /* filter: brightness(50%); */
    opacity: 0.5;
}

.footer > .footer-phone-hours span {
    margin: 0 10px;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer > .footer-phone-hours .hours {
    font-size: 0.8em;
    color: #cea135;
    text-transform: uppercase;
}

.footer > .links-wrapper {
    margin: 40px 0;
    width: 400px;
}

.footer > .social-media-icons-wrapper {
    margin: 40px 0;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer > .social-media-icons-wrapper a {
    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;
    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;
    width: 30px;
    height: 30px;
}

.footer > .social-media-icons-wrapper a:hover {
    color: #cea135;
    font-size: 2em;
}

.footer > .copyright-wrapper {
    margin: 15px 0 42px 0;
    font: 0.7em;
    color: #858585;
}